[submodule "src/main/distrib/data/gitignore"]
	path = src/main/distrib/data/gitignore
	url = https://github.com/github/gitignore.git
[submodule "src/main/js/prosemirror"]
	path = src/main/js/prosemirror
	url = https://github.com/ProseMirror/prosemirror.git
[submodule "gradle/plugins/class-dependencies"]
	path = gradle/plugins/class-dependencies
	url = https://github.com/gtsarenkov/gradle-plugins-class-deps.git
